<!DOCTYPE html>
<html>
    <head>
        <title>ハイスピード株価厳選</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" media="all" href="{{ url_for('static',filename='css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="static/brython.js"></script>
        <script src="static/brython_stdlib.js"></script>    
    </head>
    <body onload="brython()">
        <script type="text/python" src="static/mori.py"></script>
        <input type="hidden" id="state" value="3"/>
        <input type="hidden" id="day" value="tuem"/>
        <p>ハイスピード株価厳選</p>
        <h2 id="day_text">火曜日午前</h2>
        
        <span id="kabuka_text1">午前の株の価格</span>
        <span class="input">
        <input type="text" id="kabuka1">
        <span></span>
        </span>

        <br><span id="kabuka_text2" style="opacity: 0.3;">午後の株の価格</span>
        <span class="input">
        <span></span>
        <input type="text" id="kabuka2" readonly>
        </span>
        
        <br>
        <span class="square_btn" id="execute">入力</span>
        
        <br>
        <div id="result">火曜日、午前の株価を入力してくれ。おつかれ</div>
    </body>
</html>
